.detail {
    padding: 12rem 8rem;
}

.detail-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.detail-text h2 {
    color: var(--color-navy);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.detail-text p {
    color: var(--color-grey-text);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.2;
    margin-bottom: 2rem;
}

.detail-button-box {
    display: flex;
    margin-top: 1.5rem;
}

.detail-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-button:nth-child(1) {
    margin-right: 4rem;
}

.detail-button .btn-blank {
    color: var(--color-light-blue);
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
}

.detail-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image img {
    width: 50%;
    height: auto;
}

/* Detail 2 Section  */
.detail2 {
    padding: 4rem 8rem 12rem 8rem;
}

.detail2-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail2-text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.detail2-text h2 {
    color: var(--color-navy);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.detail2-text p {
    color: var(--color-grey-text);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.2;
    margin-bottom: 2rem;
}

.detail2-button-box {
    display: flex;
    margin-top: 1.5rem;
}

.detail2-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail2-button:nth-child(1) {
    margin-right: 4rem;
}

.detail2-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.detail2-image img {
    width: 50%;
    height: auto;  
}
