.services {
    padding: 12rem 8rem;
}
.services h2{
text-align: center;
}
.services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services-card{
width: 50%;
display: flex;
margin-top: 1.5rem;
}
.services-card-image{
flex-basis: 40%;
display: flex;
align-items: center;
justify-content: center;
}
.services-card-image img{
width: 50%;
height: auto;
}

.services-info{
padding: 10px;
}
.services-info h3{
font-size: 1.75rem;
font-weight: 700;
color: var(--color-navy);
}
.services-info p{
font-size: 1.25rem;
font-weight: 500;
color: var(--color-grey-text);
line-height: 2.2;
margin-top: 1.5rem;
}
.services-button{
    margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
}