h1 {
    margin-top: 0;
    color: #e6e6e6;
}
.input{
    min-width: 500px;
    min-height: 30px;
    background-color: lightgray;
    border: none;
}
.generate{
    color: #e6e6e6;
    background: none;
    border: 262626;
    cursor: pointer;
    width: fit-content;
    min-width: 200px;
    height: 50px;   
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -20px;
    font-weight: bold;
}