:root {
  --bar-height: 70px;
  --color-accent: #444;
  --color-green: #34d596;
  --color-navy: #2e395d;
  --color-light-blue-bg: #f7fbff;
  --color-grey-text: #9d9fab;
  --color-dark-purple: #1b1464;
  --color-dark-blue: #1c3482;
  --color-blue: #0037ce;
  --color-light-blue: #1652d6;
  --color-black: #090b17;
  --color-white: #ffffff;
  --color-light-grey: #f4f6f8;
  --color-medium-grey: #999;
  --color-dark-grey: #090b17;

  --gradient-primary: linear-gradient(to right, var(--color-purple), var(--color-dark-purple));
  --gradient-secondary: linear-gradient(to top left, var(--color-dark-blue), var(--color-blue), var(--color-light-blue-blue));
}         

/* Buttons */
.btn-green {
  background: var(--color-green);
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: .5px;
  border-radius: 4px;
  padding: 1.15rem 1.75rem;
  cursor: pointer;
  transition: .3s ease;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-green:hover {
  background: transparent;
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.btn-transparent {
background: transparent;
color: var(--color-purple);
border: 2px solid var(--color-purple);
font-weight: 600;
font-size: 1.25rem;
border-radius: 8px;
padding: 1.25rem 2rem;
cursor: pointer;
transition: .3s ease;
text-decoration: none;
text-transform: uppercase;
}

.btn-transparent:hover {
background: var(--color-purple);
color: var(--color-white);
}

.u-centered {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}


/* Header Section */
.header {
  /* background-color: var(--color-dark-purple); */
  background-image: url(./assets/img/cw-hero.png);
  /* background-image: var(--gradient-secondary);
  background-clip: transparent;
  -webkit-background-clip: transparent; */
  height: 80vh;
  display: flex;
  align-items: center;
  padding-top: var(--bar-height);
  box-sizing: border-box;
  background-size: cover;
  z-index: 4;
  position: relative;
}

.u-centered {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.header-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text h1 {
  color: var(--color-white);
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.header-text h4 {
  color: var(--color-light-blue-bg);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.header-form {
  margin-bottom: 4rem;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* max-width: 500px; */
}

.header-item .input {
  /* width: 80%; */
  width: 48rem;
  height: 6.5rem;
  border-radius: 8px;
  background: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  padding: 2rem;
  font-family: inherit;
  color: var(--color-light-purple);
  font-size: 1.5rem;
  font-weight: 500;
}

.header-item .placeholder {
  color: var(--color-light-purple);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.header-item .btn-submit {
  background: var(--color-green);
  color: var(--color-white);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  /* width: 20%; */
  width: 17rem;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  border: 2px solid var(--color-green);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: .3s all;
  cursor: pointer;
}

.header-item .btn-submit:hover {
  background: transparent;
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image img {
  width: 100px;
  height: auto;
}


/* Detail Section  */
.detail {
  padding: 12rem 8rem;
}

.detail-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-text {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.detail-text h2 {
  color: var(--color-navy);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.detail-text p {
  color: var(--color-grey-text);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.2;
  margin-bottom: 2rem;
}

.detail-button-box {
  display: flex;
  margin-top: 1.5rem;
}

.detail-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-button:nth-child(1) {
  margin-right: 4rem;
}

.detail-button .btn-blank {
  color: var(--color-light-blue);
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s ease;
  text-decoration: none;
}

.detail-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image img {
  width: 50%;
  height: auto;
}

/* Detail 2 Section  */
.detail2 {
  padding: 4rem 8rem 12rem 8rem;
}

.detail2-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail2-text {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.detail2-text h2 {
  color: var(--color-navy);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.detail2-text p {
  color: var(--color-grey-text);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.2;
  margin-bottom: 2rem;
}

.detail2-button-box {
  display: flex;
  margin-top: 1.5rem;
}

.detail2-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail2-button:nth-child(1) {
  margin-right: 4rem;
}

.detail2-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.detail2-image img {
  width: 50%;
  height: auto;  
}

/* About Section  */
.about {
  padding: 16rem 8rem 10rem 8rem;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-box h4 {
  color: var(--color-green);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 1rem;
}

.about-box h2 {
  color: var(--color-navy);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
}

.about-box p {
  color: var(--color-medium-grey);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2;
  margin-bottom: 4rem;
  padding: 0 16rem;
  text-align: center;
}

.about-button {
  margin-bottom: 2rem;
}

/* Services Section */
.services {
  padding: 12rem 4rem;
  background: var(--color-light-blue-bg);
}

.services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.services-card {
  display: flex;
  width: 25%;
  margin: 0 6rem;
}

.services-card:nth-child(1){
  margin-bottom: 12rem;
}

.services-card:nth-child(2){
  margin-bottom: 12rem;
}

.services-card-image {
  margin-right: 3.5rem;
}

.services-card-image img {
  width: 100px;
  height: auto;
}

.services-info {
  flex-direction: column;
}

.services-info h3 {
  color: var(--color-navy);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 1.75rem;
}

.services-item {
}

.services-item p {
  color: var(--color-grey-text);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8;
}

.services-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

/* Share Section */
.share {
  background-image: url(./assets/img/cw-hero.png);
  height: 100vh;
  padding: 0 8rem;
  /* padding: 12rem 8rem; */
  display: flex;
  align-items: center;
  padding-top: var(--bar-height);
  box-sizing: border-box;
  background-size: cover;
  z-index: 4;
  position: relative;
}

.share-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.share-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.share-banner {
  padding: 1rem 1.75rem;
  border-radius: 100px;
  background-color: var(--color-green);
  width: 41%;
  /* margin: auto; */
  margin-bottom: 2rem;
}

.share-banner h4 {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.share-text h2 {
  color: var(--color-white);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.share-text p {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.share-image {
  flex-basis: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.share-image img {
  width: 70%;
  height: auto;
}

.share-form {
  margin-bottom: 4rem;
}

.share-item {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: relative;
  /* max-width: 500px; */
}

.share-item .input {
  width: 80%;
  /* width: 48rem; */
  height: 5rem;
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  padding: 2rem;
  font-family: inherit;
  color: var(--color-light-purple);
  font-size: 1.25rem;
  font-weight: 500;
}

.share-item .placeholder {
  color: var(--color-light-purple);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6;
}

.share-item .btn-submit {
  background: var(--color-green);
  color: var(--color-white);
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  width: 20%;
  /* width: 17rem; */
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  border: 2px solid var(--color-green);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: .3s all;
  cursor: pointer;
}

.share-item .btn-submit:hover {
  background: var(--color-light-grey);
  color: var(--color-green);
  border: 2px solid var(--color-green);
}
