nav button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
    color: #e6e6e6;
    margin: 10px;
    padding-inline: 40px;
}

nav ul {
    list-style-type: none;
    float: center;
    /* display: inline; */
    margin-top: 0;
}

nav li{
    display: inline;
}